{% extends 'base.html.twig' %}

{% block title %}VodDirTemplate{% endblock %}

{% block body %}
    <h1>VodDirTemplate</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vod_dir_template.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ vod_dir_template.title }}</td>
            </tr>
            <tr>
                <th>Template</th>
                <td>{{ vod_dir_template.template }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ vod_dir_template.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_vod_dir_template_index') }}">back to list</a>

    <a href="{{ path('app_vod_dir_template_edit', {'id': vod_dir_template.id}) }}">edit</a>

    {{ include('vod_dir_template/_delete_form.html.twig') }}
{% endblock %}
